<table border="1">
{%for s in students%}
</tr>
    <td>{{s.id}}</td>
    <td>{{s.username}}</td>
    <td>{{s.email}}</td>
<td><a href='{{path('delete_student',{'id':s.id})}}'>delete</a></td>
<td><a href='{{path('update_student',{'id':s.id})}}'>modifier</a></td>
</tr>
{% endfor%}

</table>

