{# 2 #}
<strong>2 - liste des formations:</strong><br>
{% if formations is not empty and formations is defined %}
	{% for formation in formations %}
		Ref: {{ formation.ref }}<br>
		Titre: {{ formation.Titre }}<br>
		Description: {{ formation.Description }}<br>
		date_debut: {{ formation.date_debut }}<br>
		Date_fin: {{ formation.date_fin }}<br>
		nb_participants: {{ formation.nb_participants }}<br>
		<br>
	{% endfor %}
{% endif %}

{# 3 #}
<strong>3 - Titres en majuscules: </strong><br>
{% if formations is not empty and formations is defined %}
	{% for formation in formations %}
		Titre: {{ formation.Titre  | upper }}<br>
	{% endfor %}
{% endif %}
<br>

{# 4 #}
<strong>4 - Nombre de formations: </strong><br>{{ formations | length }}<br><br>
	
{# 5 #}
<strong>5 - Titres des formations théoriques: </strong><br>
{% if formations is not empty and formations is defined %}
	{% for formation in formations %}
		{% if formation.Description == "formation theorique" %}
			Titre formation théorique: {{ formation.Titre }}<br>
		{% endif	%}
	{% endfor %}
{% endif %}
<br>

{# 6 #}
{% set max = 0 %}
{% set ref = '' %}
{% if formations is not empty and formations is defined %}
	{% for formation in formations %}
		{% if formation.nb_participants > max %}
			{% set max = formation.nb_participants %}
			{% set ref = formation.ref %}
		{% endif %}
	{% endfor %}
{% endif %}
<strong>6 - La formation ayant le plus grand nombre de participants:</strong>
<br>{{ ref }}<br><br>

{# 7 #}
<strong>7 - Le nombre total de participants:</strong><br>
{% set total = 0 %}
{% if formations is not empty and formations is defined %}
	{% for formation in formations %}
		{% set total = total + formation.nb_participants %}
	{% endfor %}
{% endif %}
{{ total }}<br><br>

{# 8- Ajouter une condition dans le cas où le tableau n’est pas défini et/ou vide #}

{# 9 #}
<strong>9 - Ajouter un bouton, participer, devant la formation ayant aucun participant:</strong><br>
{% if formations is not empty and formations is defined %}
	{% for formation in formations %}
		{% if formation.nb_participants == 0 %}
			Ref: {{ formation.ref }} <button>Participer</button>
			<br>
		{% else %}
			Ref: {{ formation.ref }}<br>
		{% endif %}
		Titre: {{ formation.Titre }}<br>
		Description: {{ formation.Description }}<br>
		date_debut: {{ formation.date_debut }}<br>
		Date_fin: {{ formation.date_fin }}<br>
		nb_participants: {{ formation.nb_participants }}<br>
		<br>
	{% endfor %}
{% endif %}


{# 10 #}
 <strong>10 - En cliquant sur le bouton « participer », l’utilisateur sera redirigé vers une nouvelle vue « detail.html.twig » affichant le nom de la formation sélectionnée.</strong><br> 
{% if formations is not empty and formations is defined %}
	{% for formation in formations %}
		{% if formation.nb_participants == 0 %}
			Ref: {{ formation.ref }} 
			<button> <a href="{{ path('getName', {'name': formation.Titre }) }}">Participer</a></button>
			<br>
		{% else %}
			Ref: {{ formation.ref }}<br>
		{% endif %}
		Titre: {{ formation.Titre }}<br>
		Description: {{ formation.Description }}<br>
		date_debut: {{ formation.date_debut }}<br>
		Date_fin: {{ formation.date_fin }}<br>
		nb_participants: {{ formation.nb_participants }}<br>
		<br>
	{% endfor %} 
		{% endif %}